{% extends 'core/base.html' %}
{% load static %}
{% block title %}Codey - Nuestros Servicios{% endblock  %}

{% block content %}
  <main id="main">


    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container mb-5">

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
              <img src="{% static 'core/img/services-money.svg' %}" class="img-fluid"  alt="">
              
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 services-head-section" data-aos="fade-left"
                                                                  data-aos-anchor="#example-anchor"
                                                                  data-aos-offset="500"
                                                                  data-aos-duration="500">
            <h3 class="pt-5">¡Bienvenido/a! ¿Alguna vez has pensado en la importancia de la tecnología en los negocios? </h3>
            <p class="fst-italic mt-5">
                Nuestro objetivo es ayudar a todas las personas que necesitan apoyo tecnológico para evitar la quiebra de sus negocios. Y es por eso que estamos aquí para trabajar contigo y ayudarte a alcanzar tus objetivos.
            </p>
            <p>Imagina poder automatizar todas tus ventas y recibir un análisis claro sobre cómo mejorarlas. Con nuestro servicio, eso es posible. También podemos proporcionarte un chatbot de asistencia 24/7 para que tus empleados y clientes no pierdan el tiempo y siempre reciban la ayuda que necesitan.
            </p>
            <p class="pb-5" >            
                Pero eso no es todo, siempre nos mantenemos en constante aprendizaje para ofrecerte lo mejor de lo mejor. ¿Te imaginas tener una empresa que se adapta constantemente a las últimas tendencias y avances tecnológicos? ¡Eso es lo que podemos hacer por ti!
Así que, ¿qué esperas? ¡Únete a nosotros y juntos lograremos el éxito de tu negocio!


            </p>
          </div>
        </div>


      </div>
    </section><!-- End Services Section -->

    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                  <img src="{% static 'core/img/service-details-1.svg' %}" alt="...">
              </div>
              <div class="card-body">
                  <h5 class="card-title"><a href="#">Nuestra Misión</a></h5>
                <p class="card-text">Nuestra misión es ayudar a las empresas a mejorar sus ventas y productos a través de la implementación de tecnologías de inteligencia artificial. Buscamos ser un aliado estratégico para nuestros clientes, brindándoles herramientas avanzadas para la automatización de sus procesos de ventas y análisis de datos, con el objetivo de mejorar su eficiencia y eficacia en el mercado.</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Leer Más</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'core/img/service-details-2.svg' %}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Nuestro Plan</a></h5>
                <p class="card-text">Nuestro plan, como tal, es ofrecerte lo mejor y que el servicio realizado cumpla con todas tus expectativas.</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Leer Más</a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="zoom-in-up">
            <div class="card">
              <div class="card-img">
                <img style="max-width: 75%;" src="{% static 'core/img/service-details-3.svg' %}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Nuestra Visión</a></h5>
                <p class="card-text">Nos enfocamos en crear soluciones tecnológicas innovadoras y personalizadas, que satisfagan las necesidades de nuestros clientes y les permitan optimizar sus procesos comerciales. Buscamos convertirnos en un referente en el mercado de tecnología, brindando soluciones que se adapten a las necesidades específicas de cada cliente, ya sean pequeñas empresas o grandes corporaciones.</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Leer Más</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="zoom-in-up">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'core/img/service-details-4.svg' %}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Nuestro Equipo</a></h5>
                <p class="card-text">Siempre tratamos de mejorar en cada proyecto realizado, por lo que, nuestro equipo cuenta con la suficiente experiencia para darte lo mejor y, por ende, ofrecer la mejor calidad posible.</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Leer Más</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Service Details Section -->

    <!-- ======= Pricing Section ======= -->
    <section class="pricing section-bg" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Precios</h2>
          <p>Ofrecemos desde el desarrollo de aplicaciones y páginas web, hasta la implementación de tecnologías de inteligencia artificial para la mejora de ventas y productos, tambien te ayudamos a implementar soluciones innovadoras y eficaces que te permitan crecer en tu mercado.</p>
          <h1 class="mt-3">Servicios destacados</h1>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 box">
            <h3>ChatBot</h3>
            <h4>$7,500<span>pago unico</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Configuración de un chatbot enfocado en tus necesidades</li>
              <li><i class="bx bx-check"></i> Servicio de 24 horas los 7 dias de la semana</li>
              <li><i class="bx bx-check"></i> 1 Mes gratis de soporte las 24 horas</li>
              <li><i class="bx bx-check"></i> Instalación gratuita en Wordpress</li>
              <li><i class="bx bx-check"></i> Asesoramiento por un experto</li>
            </ul>
            <a href="{% url 'contact:contact-us'%}" class="get-started-btn">¡Lo quiero!</a>
          </div>

          <div class="col-lg-4 box featured">
            <h3>Página Web</h3>
            <h4><span>desde</span>$1,500</h4>
            <ul>
              <li><i class="bx bx-check"></i> Páginas web de entrega rapida</li>
              <li><i class="bx bx-check"></i> Calidad de servicio</li>
              <li><i class="bx bx-check"></i> Panel administrativo</li>
              <li><i class="bx bx-check"></i> Google Analytics</li>
              <li><i class="bx bx-check"></i> Instalación y despliegue gratuito</li>
              <li><i class="bx bx-check"></i> Seguridad y velocidad</li>
              <li class="na"><i class="bx bx-x"></i><span>Integración de API's</span></li>
              <li class="na"><i class="bx bx-x"></i><span>API personalizada</span></li>
            </ul>
            <a href="{% url 'contact:contact-us'%}" class="get-started-btn">¡Lo quiero!</a>
          </div>

          <div class="col-lg-4 box">
            <h3>Configuración de VPS</h3>
            <h4><span>desde</span>$1,000</h4>
            <ul>
              <li><i class="bx bx-check"></i> Configuración de aplicaciones web</li>
              <li><i class="bx bx-check"></i> Despliegue de paginas web</li>
              <li><i class="bx bx-check"></i> Servidores de juegos</li>
              <li><i class="bx bx-check"></i> Virtualización de servidor fisico</li>
              <li><i class="bx bx-check"></i> Capacitación técnica</li>
            </ul>
            <a href="{% url 'contact:contact-us'%}" class="get-started-btn">¡Lo quiero!</a>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <section class="section-bg">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-4">Todos nuestros Servicios</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Ofrecemos una amplia gama de servicios diseñados para satisfacer las necesidades de nuestros clientes. Desde el desarrollo de aplicaciones y páginas web, hasta la implementación de tecnologías de inteligencia artificial para la mejora de ventas y productos, nuestro equipo de expertos está listo para ayudarte a llevar tu negocio al siguiente nivel. </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card service-wrapper rounded border-0 shadow p-4 card-services">
                    <div class="icon text-center text-custom h1 shadow rounded pt-2">
                      <i class="bi bi-display-fill"></i>
                    </div>
                    <div class="content mt-4">
                        <h5 class="title text-custom">Aplicaciones Web</h5>
                        <p class="mt-3 mb-0">Aplicaciones web realizadas en Django o NodeJS, el precio varia en el tamaño del proyecto o las especificaciones requeridas por el cliente.</p>
                        <div class="mt-3">
                          <a href="javascript:void(0)" class="text-custom">Saber más <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="big-icon h1 text-custom">
                      <i class="bi bi-display-fill"></i>
                    </div>
                </div>
            </div><!--end col-->
    
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card service-wrapper rounded border-0 shadow p-4 card-services">
                    <div class="icon text-center text-custom h1 shadow rounded  pt-2">
                      <i class="bi bi-robot"></i>
                    </div>
                    <div class="content mt-4">
                        <h5 class="title text-custom">ChatBots</h5>
                        <p class="mt-3 mb-0">No hagas esperar a tus clientes y utiliza un asistente virtual que sea capaz de entender, responder y explicar al instante problemas o servicios que el cliente necesite.
                        </p>
                        <div class="mt-3">
                          <a href="javascript:void(0)" class="text-custom">Saber más <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="big-icon h1 text-custom">
                        <span class="uim-svg" style=""><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" width="1em"><path class="uim-quaternary" d="M15,2c-3.3772,0.00142-6.27155,2.41462-6.88025,5.73651c2.90693-1.59074,6.553-0.52375,8.14374,2.38317c0.98206,1.79462,0.98206,3.96594,0,5.76057c3.8013-0.69634,6.31837-4.3424,5.62202-8.14369C21.27662,4.41261,18.37925,1.99872,15,2z"></path><circle cx="7" cy="17" r="5" class="uim-primary"></circle><path class="uim-tertiary" d="M11,7c-3.08339,0.00031-5.66461,2.33759-5.97,5.40582c2.5358-1.08949,5.47469,0.08297,6.56418,2.61877c0.54113,1.25947,0.54113,2.68593,0,3.94541c3.29729-0.32786,5.7045-3.26663,5.37664-6.56392C16.66569,9.33735,14.08386,6.99972,11,7z"></path></svg></span>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card service-wrapper rounded border-0 shadow p-4 card-services">
                    <div class="icon text-center text-custom h1 shadow rounded  pt-2">
                      <i class="bi bi-discord"></i>
                    </div>
                    <div class="content mt-4">
                        <h5 class="title text-custom">Discord Bot:</h5>
                        <p class="mt-3 mb-0">¿Tienes alguna comunidad en Discord?, es tu momento de crecer, con un Bot en discord podrás automatizar muchas tareas y hasta llevar un registro de conversaciones o acciones tanto de usuario como de la administración.
                        </p>
                        <div class="mt-3">
                          <a href="javascript:void(0)" class="text-custom">Saber más <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="big-icon h1 text-custom">
                      <i class="bi bi-discord"></i>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2 ">
                <div class="card service-wrapper rounded border-0 shadow p-4 card-services">
                    <div class="icon text-center text-custom h1 shadow rounded  pt-2">
                      <i class="bi bi-hdd-rack-fill"></i>
                    </div>
                    <div class="content mt-4">
                        <h5 class="title text-custom">Virtualizacion de Servidores:</h5>
                        <p class="mt-3 mb-0">¿Eres de Merida Yucatan y tienes un servidor pero quisieras usarlo para más cosas?, te ayudamos a crear varias máquinas virtuales para distinto uso y sin desperdiciar recursos.
                        </p>
                        <div class="mt-3">
                          <a href="javascript:void(0)" class="text-custom">Saber más <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="big-icon h1 text-custom">
                      <i class="bi bi-hdd-rack-fill"></i>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card service-wrapper rounded border-0 shadow p-4 card-services">
                    <div class="icon text-center text-custom h1 shadow rounded  pt-2">
                      <i class="bi bi-pc-display-horizontal"></i>
                    </div>
                    <div class="content mt-4">
                        <h5 class="title text-custom">Instalación y configuración de VPS:</h5>
                        <p class="mt-3 mb-0">Nuestro servicio de instalación y configuración de VPS te permitirá obtener acceso a un servidor virtual privado completamente personalizado para satisfacer las necesidades de tu negocio o proyecto.</p>
                        <div class="mt-3">
                          <a href="javascript:void(0)" class="text-custom">Saber más <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="big-icon h1 text-custom">
                      <i class="bi bi-pc-display-horizontal"></i>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card service-wrapper rounded border-0 shadow p-4 card-services">
                    <div class="icon text-center text-custom h1 shadow rounded  pt-2">
                      <i class="bi bi-globe"></i>
                    </div>
                    <div class="content mt-4">
                        <h5 class="title text-custom">REST API</h5>
                        <p class="mt-3 mb-0">Podemos desarrollar una REST API desde cero o integrarla con tus sistemas existentes, lo que te permitirá acceder y manipular datos de tu negocio de manera rápida y segura. Además, podemos integrar herramientas de seguridad para garantizar que tus datos estén protegidos.</p>
                    
                        <div class="mt-3">
                          <a href="javascript:void(0)" class="text-custom">Saber más <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="big-icon h1 text-custom">
                      <i class="bi bi-globe"></i>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div>
    
    </section>
  </main><!-- End #main -->
{% endblock  %}
